/*body {
  margin-left: 10px;
  margin-right: 10px; }

div {
  margin-left: 15px;
  margin-right: 15px; 
    }
*/

@mixin measurements($value){
    margin-left : $value;
    margin-right : $value;
}
body{
    @include measurements(10px);
}
div{
    @include measurements(15px);
}

